:root {
  --skinning-test-var:  rgb(165, 14, 185);

  /* 
   * COLORS
   * using hsl values without the hsl-function-call (to allow adding alpha in the css) 
   */
  --won-primary-color: 210, 49%, 38%;
  --won-secondary-color: 162, 53%, 44%;
  --won-secondary-color-lighter: 163, 38%, 61%;

  /*used for headings*/
  --won-light-gray: 210, 15%, 95%; 

  /*used for background*/
  --won-lighter-gray: 180, 8%, 97%; 

  /*use for lines*/
  --won-line-gray: 171, 7%, 81%; 

  --won-subtitle-gray: 0, 0%, 50%;
  --won-helpbox-yellow: 53, 100%, 95%;
  --won-dark-purple: 299, 28%, 32%;
  --won-dark-gray: 208, 17%, 23%; 
}